@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

:root{
    --primary-clr: #F98404;
    --primary-clr-dark: #FC5404;
    --secondary-clr: #F5F7B2;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light:  #faf5ff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


body{
    font-family: 'Besley', serif;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 99;
}

.nav_content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-clr);
    transition: 0.3s;
}

nav .logo a:hover{
    color: #1f2937;
}

nav .checkbox{
    display: none;
}

nav input{
    display: none;
}

nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-clr-dark);
    cursor: pointer;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transform: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover {
    border-top-color: black;
    border-bottom-color: black;
    color: var(--primary-clr);
}

.section{
    background-color: var(--extra-light);
}

.section_container{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle{
    letter-spacing: 3px;
    color: var(--text-light);
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.title {
    font-weight: 600;
}
.title span {
    font-weight: 900;
}

.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.action_btns {
    display: flex;
    gap: 1.5rem;
}

.action_btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.hire_me{
    background-color: var(--primary-clr);
    color: #ffffff;
}

.hire_me:hover{
    background-color: var(--primary-clr-dark);
}

.portfolio{
    color: var(--primary-clr);
}

.portfolio:hover{
    background-color: var(--primary-clr-dark);
    color: #ffffff;
}

.links{
    color: var(--primary-color);
    color: #ffffff;
}
  
.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);
    border-radius: 100%;
}

/*Styling Contact Tab*/
.header{
    font-weight: 800;
}

/* --Responsiveness
@media screen and (max-width: 768px) {
    nav .checkbox {
      display: block;
    }
  
    nav ul {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: var(--primary-clr);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(-100%);
      transition: transform 0.3s;
    }
  
    nav ul.active {
      transform: translateX(0);
    }
  
    ul li {
      margin-bottom: 1rem;
    }
  
    ul li a {
      color: white;
      border: none;
    }
  
    .section_container {
      grid-template-columns: 1fr;
    }
  }
*/
  